/* footer  */

#park-footer {
  background-image: url("../images/footer-bg.png");
  padding: 1.5rem;
}

.contact h3 {
  text-transform: uppercase;
  font-family: var(--bs-font-serif);
  margin-bottom: 1rem;
}

.contact h4 {
  margin-top: 0.8rem;
  margin-bottom: 0rem;
  font-size: 1rem;

}

.contact p {
  margin: 0.5rem 0;
  font-size: 1rem;
  line-height: 1;
  color: rgb(101, 100, 100);

}

