
/* global header  */

.global-header {
  display: grid;
  grid-template-columns: auto 200px;
  justify-content: space-between;
  background-color: black;
}

.icon {
  width: 20px;
  height: 20px;
}

.site-title {
  text-decoration: none;
}

.site-title span{
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.global-header__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.global-header__right .search-icon {
  margin-top: 6px;
  padding:0 1rem;
}

.global-header__right .search-icon:hover,
#global-nav-toggle:hover
{
  cursor: pointer;
}


.global-header__right button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  padding: 1.2em;
  /* display: flex; */
  /* align-items: center; */
  text-transform: uppercase;
  border-left: 1px solid var(--bs-grey-5);
}

/* global nav  */

.global-nav {
  width: 100%;
  border-top: 1px solid #333;
  grid-column: 1/3;
  max-height: 0;
  overflow: hidden;
  transition: all 1s ease;
}


.global-nav__toggle .global-nav--closed {
  display: flex;
  align-items: center;

}

.global-nav__toggle .global-nav--open {
  display: none;
  align-items: center;

}

.global-nav__section-heading1 {
  color: rgb(123, 168, 123);
  padding-left: 0.625rem;
}

.global-nav__section-heading2 {
  color: rgb(152, 152, 205);
  padding-left: 0.625rem;
}

.global-nav__list {
  padding: 0;
  border-top: 1px solid #444;
  margin: 0;
}

.global-nav__split-button {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  background-color: var(--bs-gray-800);
}

.global-nav__split-button > a {
  flex: 1;
  align-self: center;
  padding: 1rem 0.625rem;
  display: block;
}

.global-nav__split-button > button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-left: 1px solid rgb(90, 89, 89);
  padding: 1rem 1.3rem;


    /* display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.25rem;
  border-left: 1px solid #444; */
}

.global-nav__split-button > button:hover,
.global-nav__split-button > a:hover {
  background-color: var(--bs-gray-900);
}

.global-nav__submenu {
  margin-left: 1rem;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  font-size: 0.8rem;
  transition: all 1s ease;

}

.global-nav a {
  color: white;
  text-decoration: none;
}


.global-nav__submenu a {
  display: block;
  padding: 1rem 0rem;
}

.global-nav__submenu a:hover {
  text-decoration: underline;
}

.global-nav svg {
  --icon-color: white;
  background-color: transparent;
}

.show {
  max-height: 1000px;

}

.global-nav__toggle[aria-expanded="true"] .global-nav--closed {
  display: none;
  transition: all 1s ease;

}
.global-nav__toggle[aria-expanded="true"] .global-nav--open {
  transition: all 1s ease;
  display: flex;
}


.icon {
  transition: all 0.5s ease;
}

.rotate {
  transform: rotate(180deg);
}


@media (min-width: 768px) {
  .global-nav > h2,
  .global-nav__list:first-of-type {
    display: none;
  }

  .global-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .global-nav__list li {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .global-nav__split-button a {
    font-size: 1rem;
    background-color: black;
  }

  .global-nav__split-button__toggle {
    display: none;
  }

  .global-nav__submenu {
    display: flex;
    flex-direction: column;
    max-height: fit-content;
  }

  .global-nav__submenu li a {
    padding: 0.7rem;
  }

}


/* banner  */
.banner img {
  display: block;   /* remove inline gap  */
  object-fit: cover;
  height: 350px;
  width: 100%;
}

.banner {
  position: relative;
}

.banner-infor {
  position: absolute;
  bottom: 0;
  background-color: rgba(1, 1, 1, 0.6);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

/* .banner {
  display: grid;
  grid-template-columns: 1fr;
}
.banner > img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  grid-column: 1/2;
  grid-row: 1/3;
}

.banner-infor {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.5em 1em;
} */


.banner-infor .banner-title{
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
}

.banner-subtitle {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 0.7rem;
}

/* park header  */

.park-nav {
  background-color: #000;
  display: flex;
  justify-content: center;
}

.park-nav__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* gap: 1.6rem; */
  background-color: #000;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.park-nav-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.7rem 0;
  width: 4.3rem;
}

.park-nav-link:hover {
  background-color: rgb(93, 88, 88, 0.7);
}

.park-nav-link span{
  color: white;
  font-size: 0.7rem;

}